.flex-container {
    display: flex;
    margin-left: 20%;
    margin-right: 40%;
    gap: 60px;
    text-decoration: none;
    color: black;
    margin-top: 3%;
}
  
.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 200px;
    font-size: 80px;
}
a {
    text-decoration: none;
    color: black;
}

.log-in{
    background-color: black;
    color: white;
}

button{
    border-radius: 5px;
    border: solid 1px;
}

#page{
    font-size: medium;
    padding-left: 10%;
    margin-bottom: 20%;
    margin-top: 10%;

}
#web{

    
}
.button{
    padding-left: 10%;
    margin-top: -19%;
    margin-bottom: 9%;
    color: palevioletred;
    display: flex;
}

#first{
    border-radius: 5%;
    width: 50%;
 }
 #main{
  display: flex;
    background-color: whitesmoke;
    border: solid 3px;
    border-radius: 20px;
    width: 50%;
    margin-left: 20%;
    border-color: blue;
 }
 .emojis{
   translate: 3D;
   scale: 3D;
   rotate:3D;
   margin-left: 100%;
   

 }
 p1{
   font-size: 58px;
   position: absolute;
   top:0;
 }
 p2{
   font-size: 58px;
   float: top;
   position: relative;
   padding-right: 20%;
   top:5px;
   left:10px;
 }
 p3{
   font-size: 48px;
   position: absolute;
   top:10px;
   right:30px;
   float:left;


 }
 p4{
   font-size: 48px;
   position:relative;
   top:40px;
   left:40px;
   float:left;
   padding-right: 50%;
 }
 p5{
   font-size: 48px;
   float:top;
   position:sticky;
   top:7px;
 }
 p6{
   font-size: 48px;
   top: 5px;
   padding-left: 0%;
   position: inherit;
   padding-bottom: 15%;

 }

.man{
   margin-left: 80%;
}